RewriteEngine On


RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^/?appointment/([A-Za-z0-9-_.*!?]+)$ appointment.php?appointmenttoken=$1

RewriteRule ^/?calendar/([A-Za-z0-9-_]+)/([A-Za-z0-9-_]+)/([A-Za-z0-9-_]+)$ calendar.php?year=$1&month=$2&view=$3

RewriteRule ^/?export_pdf/([A-Za-z0-9-_]+)/([A-Za-z0-9-_]+)$ export_pdf.php?year=$1&month=$2

RewriteRule ^([^\.]+)$ $1.php [NC,L]